body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-wrapper {
  padding: 0px 100px 0px 100px;
}

.nav-wrapper .brand-logo {
  font-size: 20px;
  text-transform: uppercase;
}

.page-footer {
  padding: 0px 100px 0px 100px;
  background: #2196f3;
}

.parallax-container {
  background: url("img/header.jpg");
  background-attachment: fixed;
  height: 580px;
  color: rgba(255, 255, 255, 0.9);
}
